services:
  app:
    build:
      context: ./docker/php84
      args:
        USER_ID: 1000
        GROUP_ID: 1000
    container_name: app
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii2
      MYSQL_USER: yii2
      MYSQL_PASSWORD: yii2
    ports:
      - "33061:3306"
    volumes:
      - db_data:/var/lib/mysql
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.1.0
    container_name: nginx-exporter
    command:
      - '--nginx.scrape-uri=http://nginx/nginx_status'
    ports:
      - "9113:9113"
    depends_on:
      - nginx
  mysqld-exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysqld-exporter
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQLD_EXPORTER_DATA_SOURCE_NAME: "root:root@(db:3306)/"
    ports:
      - "9104:9104"
    depends_on:
      - db
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - nginx-exporter
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./docker/grafana/provisioning/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
volumes:
  db_data:
  grafana-storage: